{% extends "base.html" %}

{% block content %}
    <style type="text/css">
        #for_plane {
            position: relative;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 100%;
            border: solid 1px green;
        }
        #slider_out {
            border: solid 1px green;
        }
    </style>
    {% load staticfiles %}
    <div class="page-header">
        <div class="container-fluid">
            <h2>Реконструкция эксперимента {{ record_id }}</h2>
        </div>
    </div>
    <div id="container"></div>
    <div id="for_plane"></div>
    <div class="container">
        <label for="slider">Slider</label>
        <input id="slider" type="range" />
        <label for="slider_out">Slider Out</label>
        <output id="slider_out"></output>
        <label for="sliderX">Slider X</label>
        <input id="sliderX" type="range" />
        <label for="sliderY">Slider Y</label>
        <input id="sliderY" type="range" />
        <label for="sliderZ">Slider Z</label>
        <input id="sliderZ" type="range" />
    </div>
    <script src="{% static 'storage/visualization/js/three.min.js' %}"></script>
    <script src="{% static 'storage/visualization/js/TrackballControls.js' %}"></script>
    <script src="{% static 'storage/visualization/js/Detector.js' %}"></script>
    <script src="{% static 'storage/visualization/js/stats.min.js' %}"></script>
    <script type="x-shader/x-vertex" id="vertexshader">
        precision mediump float;
        precision mediump int;

        uniform mat4 modelViewMatrix; // optional
        uniform mat4 projectionMatrix; // optional
        uniform float median_pSize;

        attribute vec3 position;
        attribute vec3 color;
        attribute float alpha;

        varying vec4 vColor;

        void main() {
            vColor= vec4(color, alpha);

            gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
            gl_PointSize = median_pSize * 2.0 * alpha;

        }
    </script>

    <script type="x-shader/x-fragment" id="fragmentshader">
        precision mediump float;
        precision mediump int;

        uniform float time;

        varying vec4 vColor;
        void main() {
            gl_FragColor = vColor;
        }
    </script>

    <script type="text/javascript">
        var NMK = {{ nmk }};
        var R_arr = {{ R_arr }};
        var G_arr = {{ G_arr }};
        var B_arr = {{ B_arr }};
        var A_arr = {{ A_arr }};
        var X_arr = {{ X_arr }};
        var Y_arr = {{ Y_arr }};
        var Z_arr = {{ Z_arr }};
        var numVertices = {{ num_vertices }};
    </script>
    <script src="{% static 'storage/visualization/main.js' %}"></script>

{% endblock content %}