{% extends "base.html" %}

{% block content %}
    {% load bootstrap3 %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title"><strong>Изменение пароля</strong></h1>
                </div>
                <div class="panel-body">

                    <form action="{% url 'password_change' %}" method="post" class="form">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-success">
                                Сохранить
                            </button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
    </div>


    {% comment %}
<form action="{% url 'polls:password_change' %}" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>
{% endcomment %}

{% endblock content %}
