{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <form method="post" action="" class="form">
                    <div class="control-group">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-xs-2">
                                <label for="Specimen">Образец</label>
                                <input type="text" class="form-control" id="Specimen" name="Specimen"
                                           placeholder="Название образца">
                            </div>
                            <div class="col-xs-2">
                                <label for="SinceDate" class="control-label">Дата</label>
                                <input type="date" class="form-control" id="SinceDate" name="SinceDate">
                            </div>
                            <div class="col-xs-2">
                                <label for="ToDate" class="control-label">LFLF</label>
                                <input type="date" class="form-control" id="ToDate" name="ToDate">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <label for="Finished">Завершен</label>
                                <select class="form-control" id="Finished" name="Finished">
                                    <option></option>
                                    <option>Завершен</option>
                                    <option>Не завершен</option>
                                </select>
                            </div>
                            <div class="col-xs-3">
                                <label for="Advanced">Продвинутый</label>
                                <select class="form-control" id="Advanced" name="Advanced">
                                    <option></option>
                                    <option>Да</option>
                                    <option>Нет</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6"><h4><b>DATA</b></h4></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2"><h5><b>Exposure</b></h5></div>
                            <div class="col-xs-2 col-xs-offset-2"><h5><b>Angle Step</b></h5></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2">
                                <input type="number" step="any" class="form-control" id="DataFromExposure" name="DataFromExposure"
                                        placeholder="От">
                            </div>
                            <div class="col-xs-2">
                                <input type="number" step="any" class="form-control" id="DataToExposure" name="DataToExposure"
                                        placeholder="До">
                            </div>
                            <div class="col-xs-2">
                                <input type="number" min="0" class="form-control" id="DataFromAngleStep"
                                       name="DataFromAngleStep" placeholder="От">
                            </div>
                            <div class="col-xs-2">
                                <input type="number" min="0" class="form-control" id="DataToAngleStep" name="DataToAngleStep"
                                        placeholder="До">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2"><h5><b>Count per step</b></h5></div>
                            <div class="col-xs-2 col-xs-offset-2"><h5><b>Step count</b></h5></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2">
                                <input type="number" min="0" class="form-control" id="DataFromCountPerStep"
                                       name="DataFromCountPerStep" placeholder="От">
                            </div>
                            <div class="col-xs-2">
                                <input type="number" min="0" class="form-control" id="DataToCountPerStep"
                                       name="DataToCountPerStep" placeholder="До">
                            </div>
                            <div class="col-xs-2">
                                <input type="number" min="0" class="form-control" id="DataFromStepCount"
                                       name="DataFromStepCount" placeholder="От">
                            </div>
                            <div class="col-xs-2">
                                <input type="number" min="0" class="form-control" id="DataToStepCount" name="DataToStepCount"
                                        placeholder="До">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2">
                                <h4><b>DARK</b></h4>
                            </div>
                            <div class="col-xs-2 col-xs-offset-3">
                                <h4><b>EMPTY</b></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2"><h5><b>Count</b></h5></div>
                            <div class="col-xs-2 col-xs-offset-3"><h5><b>Count</b></h5></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2">
                                <input type="number" min="0" class="form-control" id="DarkFromCount" name="DarkFromCount"
                                        placeholder="От">
                            </div>
                            <div class="col-xs-2">
                                <input type="number" min="0" class="form-control" id="DarkToCount" name="DarkToCount"
                                        placeholder="До">
                            </div>
                            <div class="col-xs-2 col-xs-offset-1">
                                <input type="number" min="0" class="form-control" id="EmptyFromCount" name="EmptyFromCount"
                                        placeholder="От">
                            </div>
                            <div class="col-xs-2">
                                <input type="number" min="0" class="form-control" id="EmptyToCount" name="EmptyToCount"
                                        placeholder="До">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2"><h5><b>Exposure</b></h5></div>
                            <div class="col-xs-2 col-xs-offset-3"><h5><b>Exposure</b></h5></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2">
                                <input type="number" step="any" class="form-control" id="DarkFromExposure" name="DarkFromExposure"
                                        placeholder="От">
                            </div>
                            <div class="col-xs-2">
                                <input type="number" step="any" class="form-control" id="DarkToExposure" name="DarkToExposure"
                                        placeholder="До">
                            </div>
                            <div class="col-xs-2 col-xs-offset-1">
                                <input type="number" step="any" class="form-control" id="EmptyFromExposure"
                                       name="EmptyFromExposure" placeholder="От">
                            </div>
                            <div class="col-xs-2">
                                <input type="number" step="any" class="form-control" id="EmptyToExposure" name="EmptyToExposure"
                                        placeholder="До">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3" style="margin-top: 10px">
                                <button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search"></span>
                                    Поиск
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if has_message %}
        <div class="container">
            <div class="alert alert-danger">{{ message }}</div>
        </div>
    {% endif %}

    {% if toShowResult %}
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Результаты поиска</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th rowspan="2" style="vertical-align: middle">Образец</th>
                                <th rowspan="2" style="vertical-align: middle">Закончен</th>
                                <th rowspan="2" style="vertical-align: middle">Advanced</th>
                                <th colspan="4" style="text-align: center">DATA</th>
                                <th colspan="2" style="text-align: center">EMPTY</th>
                                <th colspan="2" style="text-align: center">DARK</th>
                                <th rowspan="2" style="vertical-align: middle">Experiment id</th>
                            </tr>
                            <tr>
                                <th>Angle Step</th>
                                <th>Count per step</th>
                                <th>Step Count</th>
                                <th>Exposure</th>
                                <th>Сount</th>
                                <th>Exposure</th>
                                <th>Count</th>
                                <th>Exposure</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for record in record_range %}
                                <tr>
                                    <td>{{ record.specimen }}</td>
                                    <td>{{ record.finished }}</td>
                                    <td>{{ record.advanced }}</td>
                                    <td>{{ record.data_angle_step }}</td>
                                    <td>{{ record.data_count_per_step }}</td>
                                    <td>{{ record.data_step_count }}</td>
                                    <td>{{ record.data_exposure }}</td>
                                    <td>{{ record.empty_count }}</td>
                                    <td>{{ record.empty_exposure }}</td>
                                    <td>{{ record.dark_count }}</td>
                                    <td>{{ record.dark_exposure }}</td>
                                    <td>
                                        <a href='{% url 'storage:storage_record' record.experiment_id %}'>{{ record.experiment_id }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                    <ul class="pagination">
                        {% if record_range.has_previous %}
                            <li><a href="?page={{ record_range.previous_page_number }}#">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a></li>
                        {% else %}
                            <li class="disabled"><a href="#">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a></li>
                        {% endif %}
                        {% for page_id in pages %}
                            <li><a href="?page={{ page_id }}#">{{ page_id }}</a></li>
                        {% endfor %}
                        {% if record_range.has_next %}
                            <li><a href="?page={{ record_range.next_page_number }}#">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a></li>
                        {% else %}
                            <li class="disabled"><a href="#">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}