{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <form method="post" action="" class="form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="form-group">
                                <label for="KeyWords">Ключевые слова в названии</label>
                                <input type="text" class="form-control" id="KeyWords" placeholder="Ключевые слова">
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="SinceDate">С даты</label>
                                <input type="date" class="form-control" id="SinceDate">
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label for="ToDate">До даты</label>
                                <input type="date" class="form-control" id="ToDate">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="Finished">Завершен</label>
                                <select class="form-control" id="Finished">
                                    <option>---</option>
                                    <option>Завершен</option>
                                    <option>Не завершен</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <label for="Owner">Экспериментатор</label>
                            <input type="text" class="form-control" id="Owner" placeholder="Экспериментатор">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-search"></span>
                                Поиск
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if toShowResult %}
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p>Результаты поиска</p>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Название</th>
                                <th>Вольтаж</th>
                                <th>Дата</th>
                                <th>Закончен</th>
                                <th>Экспериментатор</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for record in record_range %}
                                <tr>
                                    <th>{{ record.id }}</th>
                                    <th>{{ record.name }}</th>
                                    <th>{{ record.voltage }}</th>
                                    <th>{{ record.date }}</th>
                                    <th>{{ record.finished }}</th>
                                    <th>{{ record.owner }}</th>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <ul class="pagination">
                        {% if record_range.has_previous %}
                            <li><a href="?page={{ record_range.previous_page_number }}#">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a></li>
                        {% else %}
                            <li class="disabled"><a href="#">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a></li>
                        {% endif %}
                        {% for page_id in pages %}
                            <li><a href="?page={{ page_id }}#">{{ page_id }}</a></li>
                        {% endfor %}
                        {% if record_range.has_next %}
                            <li><a href="?page={{ record_range.next_page_number }}#">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a></li>
                        {% else %}
                            <li class="disabled"><a href="#">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}