{% extends "base.html" %}

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'storage/styles.css' %}">
{% block content %}
    <div class="page-header">
        <h1>Запись хранилища номер {{ record_id }}
            <small>Предварительная версия</small>
        </h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <p>
                Здесь должно быть большое описание с параметрами эксперимента.
            </p>

            <p>
                Здесь должно быть большое описание с параметрами эксперимента.
            </p>

            <p>
                Здесь должно быть большое описание с параметрами эксперимента.
            </p>

            <p>
                Здесь должно быть большое описание с параметрами эксперимента.
            </p>

            <p>
                Здесь должно быть большое описание с параметрами эксперимента.
            </p>

            <p>
                Здесь должно быть большое описание с параметрами эксперимента.
            </p>

            <p>
                Здесь должно быть большое описание с параметрами эксперимента.
            </p>
            {% if user.user_profile.role == "RES" %}
                <button type="button" class="btn btn-primary btn-lg" data-container="body" data-toggle="popover"
                        data-placement="auto" data-content="Доступна только исследователю.">TomoRec</span>
                </button>
            {% else %}
                <button type="button" class="btn btn-primary btn-lg" data-container="body" data-toggle="popover"
                        data-placement="auto" data-content="Доступна только исследователю.">TomoRec</span>
                </button>
            {% endif %}
        </div>
    </div>

    <div class="container-fluid" style="margin-top: 30px">
        <!-- images -->
        <div id="links" class="row">
            {% for image_id in image_range %}
                <div class="col-xs-4">
                    {% load static %}
                    {% static "" as base_url %}
                    <a href="{{ base_url }}storage/{{ image_id }}.png"
                       data-description="image {{ image_id }} description"
                       title="Image {{ image_id }}" class="thumbnail">
                        <img src="{{ base_url }}storage/{{ image_id }}.png" alt="Image {{ image_id }}"/>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-use-bootstrap-modal="true">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>

        <p class="description"></p>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <p class="description"></p>
                        </div>
                        <div class="col-xs-4">
                            <div class="modal-body next"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Previous
                        </button>
                        <button type="button" class="btn btn-primary next">
                            Next
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'storage/js/bootstrap-image-gallery-bluimp.js' %}"></script>
    <script src="{% static 'storage/js/descriptions.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>
    {#    <script>#}
    {#        blueimp.Gallery(#}
    {#            document.getElementById('links'),#}
    {#            {#}
    {#                onslide: function (index, slide) {#}
    {#                    var text = this.list[index].getAttribute('data-description'),#}
    {#                        node = this.container.find('.description');#}
    {#                    node.empty();#}
    {#                    if (text) {#}
    {#                        node[0].appendChild(document.createTextNode(text));#}
    {#                    }#}
    {#                }#}
    {#            }#}
    {#        );#}
    {#    </script>#}
{% endblock content %}