{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <form method="post" action="" class="form">
                    <div class="form-group">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-xs-5">
                                <label for="KeyWords">Ключевые слова в названии</label>
                                <input type="text" class="form-control" id="KeyWords" name="KeyWords" placeholder="Ключевые слова">
                            </div>
                            <div class="col-xs-2">
                                <label for="SinceDate">С даты</label>
                                <input type="date" class="form-control" id="SinceDate" name="SinceDate">
                            </div>
                            <div class="col-xs-2">
                                <label for="ToDate">До даты</label>
                                <input type="date" class="form-control" id="ToDate" name="ToDate">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <label for="Finished">Завершен</label>
                                <select class="form-control" id="Finished" name="Finished">
                                    <option>---</option>
                                    <option>Завершен</option>
                                    <option>Не завершен</option>
                                </select>
                            </div>
                            <div class="col-xs-5">
                                <label for="Owner">Экспериментатор</label>
                                <input type="text" class="form-control" id="Owner" name="Owner" placeholder="Экспериментатор">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3" style="margin-top: 10px">
                                <button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search"></span>
                                    Поиск
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if has_message %}
        <div class="container">
            <div class="alert alert-danger">{{ message }}</div>
        </div>
    {% endif %}

    {% if toShowResult %}
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Результаты поиска</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead >
                                <tr>
                                    <th rowspan="2" style="vertical-align: middle">Образец</th>
                                    <th colspan="2" style="text-align: center">DARK</th>
                                    <th rowspan="2" style="vertical-align: middle">Experiment id</th>
                                    <th rowspan="2" style="vertical-align: middle">Закончен</th>
                                    <th rowspan="2" style="vertical-align: middle">Advanced</th>
                                    <th colspan="4" style="text-align: center">DATA</th>
                                    <th colspan="2" style="text-align: center">EMPTY</th>
                                </tr>
                                <tr>
                                    <th>count</th>
                                    <th>Exposure</th>
                                    <th>Angle Step</th>
                                    <th>Count per step</th>
                                    <th>Step Count</th>
                                    <th>Exposure</th>
                                    <th>Count</th>
                                    <th>Exposure</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for record in record_range %}
                                    <tr>
                                        <td>{{ record.specimen }}</td>
                                        <td>{{ record.dark_count }}</td>
                                        <td>{{ record.dark_exposure }}</td>
                                        <td>{{ record.experiment_id }}</td>
                                        <td>{{ record.finished }}</td>
                                        <td>{{ record.advanced }}</td>
                                        <td>{{ record.data_angle_step }}</td>
                                        <td>{{ record.data_count_per_step }}</td>
                                        <td>{{ record.data_step_count }}</td>
                                        <td>{{ record.data_exposure }}</td>
                                        <td>{{ record.empty_count }}</td>
                                        <td>{{ record.empty_exposure }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                    <ul class="pagination">
                        {% if record_range.has_previous %}
                            <li><a href="?page={{ record_range.previous_page_number }}#">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a></li>
                        {% else %}
                            <li class="disabled"><a href="#">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a></li>
                        {% endif %}
                        {% for page_id in pages %}
                            <li><a href="?page={{ page_id }}#">{{ page_id }}</a></li>
                        {% endfor %}
                        {% if record_range.has_next %}
                            <li><a href="?page={{ record_range.next_page_number }}#">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a></li>
                        {% else %}
                            <li class="disabled"><a href="#">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}