.menu_rect {
    background: black;
    color: white;
    width: 110px;
    height: 100%;
    float: left;
    display: table;
    font-size: 130%;
}

.menu_rect:hover {
    color: orange;
}

.menu_rect p {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}

.menu_rect a {
    color: white;
    text-decoration: none;
}

.menu_rect a:hover {
    color: orange;
}

.menu_bar {
    background: black;
    height: 75px;
    width: 100%;
}

.local_title {
    width: 100%;
    font-size: 200%;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-left: 7px;
}

.instruments {
    width: 100%;
    color: grey;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 7px;
}

.content {
    margin: 10px 10px 20px;
}

.footer {
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: right;
    background: lightgrey;
}


.cell_photo {
    width: 20%;;
}

.cell_text {
    width: 30%;
    text-align: left;
    padding: 15px;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

