.jumbotron{
 	background-image: url("images/tomo_img.jpg");
 	background-position: 50% 40%;
    height: 500px;
}

body { 
	padding-top: 50px; 
}

.jumbotron h1{
	color: #FFFFFF;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-align: left;
}

.jumbotron h2{
	color: #FFFFFF;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-align: left;
}