{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-3">
        <div class="alert alert-info">
            <a class="close" data-dismiss="alert" href="/">&times;</a>
            Регистрация успешно завершена!
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-3">
        <div class="alert alert-info">
            <a class="close" data-dismiss="alert" href="/">&times;</a>
            {% if user.userprofile.rolerequest.role == "NONE" %}
            Вам автоматически присвоен статус "Гость".
            {% else %}
            Ваша заявка на получение статуса зарегистрирована.<br>
            После её рассмотрения вам будет направлено электронное письмо на email, указанный при регистрации.
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
