{% extends "base.html" %}

{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'group_styles.css' %}">
    <div class="content">
        <div class="local_title">
            <h3>Группа разработки системы управления аппаратным лабораторным комплексом</h3>
        </div>
        <table>
            <tr>
                <td class="cell_photo">
                    {% load staticfiles %}
                    <img src="{% static 'images/ichalova_diana.png' %}" alt="Where is an img???" class="img-circle" style="border: 1px solid black"/>
                </td>
                <td class="cell_text">
                    <p>ФИО: Ичалова Диана Евгеньевна</p>

                    <p>Университетская группа: 294</p>

                    <p>email: dermeerstein@gmail.com</p>

                    <p>ссылка на профиль в JIRA:
                        <a href="https://fivt.in.ru/jira/secure/ViewProfile.jspa?name=dermeerstein">dermeerstein</a></p>
                </td>
                <td class="cell_photo">
                    <img src="{% static 'images/konturov_dmitry.png' %}" alt="Where is an img???" class="img-circle" style="border: 1px solid black"/>
                </td>
                <td class="cell_text">
                    <p>ФИО: Контуров Дмитрий Алексеевич</p>

                    <p>Университетская группа: 294</p>

                    <p>email: dmitry.konturov@phystech.edu</p>

                    <p>ссылка на профиль в JIRA:
                        <a href="https://fivt.in.ru/jira/secure/ViewProfile.jspa?name=dmitry.konturov">dmitry.konturov</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td class="cell_photo">
                    <img src="{% static 'images/rykunova_elena.png' %}" alt="Where is an img???" class="img-circle" style="border: 1px solid black"/>
                </td>
                <td class="cell_text">
                    <p>ФИО: Рыкунова Елена Дмитриевна</p>

                    <p>Университетская группа: 296</p>

                    <p>email: alenarykunova@gmail.com</p>

                    <p>ссылка на профиль в JIRA:
                        <a href="https://fivt.in.ru/jira/secure/ViewProfile.jspa?name=alenarykunova">alenarykunova</a>
                    </p>
                </td>
                <td class="cell_photo">
                    <img src="{% static 'images/ryabova_maria.png' %}" alt="Where is an img???" class="img-circle" style="border: 1px solid black"/>
                </td>
                <td class="cell_text">
                    <p>ФИО: Рябова Мария Владимировна</p>

                    <p>Университетская группа: 294</p>

                    <p>email: mariya.ryabova@phystech.edu</p>

                    <p>ссылка на профиль в JIRA:
                        <a href="https://fivt.in.ru/jira/secure/ViewProfile.jspa?name=mariya.ryabova">mariya.ryabova</a>
                    </p>
                </td>
            </tr>
        </table>
    </div>

{% endblock content %}