{% extends "base.html" %}

{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'group_styles.css' %}">
    <div class="content">
        <div class="local_title">
            <h3>Группа разработки сетевого программно-математического обеспечения</h3>
        </div>
        <table>
            <tr>
                <td class="cell_photo">
                    <img src="{% static 'images/ermolenko_evgeny.png' %}" alt="Where is an img???" class="img-circle" style="border: 1px solid black"/>
                </td>
                <td class="cell_text">
                    <p>ФИО: Ермоленко Евгений Олегович</p>

                    <p>Университетская группа: 295</p>

                    <p>email: ermolenko@phystech.edu</p>

                    <p>ссылка на профиль в JIRA:
                        <a href="https://fivt.in.ru/jira/secure/ViewProfile.jspa?name=ermolenko">ermolenko</a></p>
                </td>
                <td class="cell_photo">
                    <img src="{% static 'images/savinova_anna.png' %}" alt="Where is an img???" class="img-circle" style="border: 1px solid black"/>
                </td>
                <td class="cell_text">
                    <p>ФИО: Савинова Анна Павловна</p>

                    <p>Университетская группа: 296</p>

                    <p>email: anna.savinova@phystech.edu</p>

                    <p>ссылка на профиль в JIRA:
                        <a href="https://fivt.in.ru/jira/secure/ViewProfile.jspa?name=anna.savinova">anna.savinova</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td class="cell_photo">
                    <img src="{% static 'images/matavina_polina.png' %}" alt="Where is an img???" class="img-circle" style="border: 1px solid black"/>
                </td>
                <td class="cell_text">
                    <p>ФИО: Матавина Полина Витальевна</p>

                    <p>Университетская группа: 296</p>

                    <p>email: paulin.mipt@gmail.com</p>

                    <p>ссылка на профиль в JIRA:
                        <a href="https://fivt.in.ru/jira/secure/ViewProfile.jspa?name=paulin.mipt">paulin.mipt</a></p>
                </td>
            </tr>
        </table>
    </div>

{% endblock content %}