{% extends "base.html" %}

{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'group_styles.css' %}">
    <div class="content">
        <div class="local_title">
            <h3>Группа разработки хранения, доступа, обработки и каталогизации экспериментальных данных</h3>
        </div>
        <table>
            <tr>
                <td class="cell_photo">
                    <img src="{% static 'images/mardanov_rustam.png' %}" alt="Where is an img???" class="img-circle" style="border: 1px solid black"/>
                </td>
                <td class="cell_text">
                    <p>ФИО: Марданов Рустам Рамилевич</p>

                    <p>Университетская группа: 293</p>

                    <p>email: rustam.zftsh@gmail.com</p>

                    <p>ссылка на профиль в JIRA:
                        <a href="https://fivt.in.ru/jira/secure/ViewProfile.jspa?name=rustam.zftsh">rustam.zftsh</a></p>
                </td>
                <td class="cell_photo">
                    <img src="{% static 'images/mukhan_artur.png' %}" alt="Where is an img???" class="img-circle" style="border: 1px solid black"/>
                </td>
                <td class="cell_text">
                    <p>ФИО: Мухан Артур Сергеевич</p>

                    <p>Университетская группа: 293</p>

                    <p>email: mukhan@gmail.com</p>

                    <p>ссылка на профиль в JIRA:
                        <a href="https://fivt.in.ru/jira/secure/ViewProfile.jspa?name=mukhan">mukhan</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td class="cell_photo">
                    <img src="{% static 'images/oparin_alexandr.png' %}" alt="Where is an img???" class="img-circle" style="border: 1px solid black"/>
                </td>
                <td class="cell_text">
                    <p>ФИО: Опарин Александр Николаевич</p>

                    <p>Университетская группа: 291</p>

                    <p>email: oparin.mipt@yandex.ru</p>

                    <p>ссылка на профиль в JIRA:
                        <a href="https://fivt.in.ru/jira/secure/ViewProfile.jspa?name=oparin.mipt">oparin.mipt</a></p>
                </td>
                <td class="cell_photo">
                    <img src="{% static 'images/vatsuik_alexandr.png' %}" alt="Where is an img???" class="img-circle" style="border: 1px solid black"/>
                </td>
                <td class="cell_text">
                    <p>ФИО: Вацюк Александр Валентинович</p>

                    <p>Университетская группа: 293</p>

                    <p>email: vatsuik.a.v@gmail.com</p>

                    <p>ссылка на профиль в JIRA:
                        <a href="https://fivt.in.ru/jira/secure/ViewProfile.jspa?name=vatsuik.a.v">vatsuik.a.v</a></p>
                </td>
            </tr>
            <tr>
                <td class="cell_photo">
                    <img src="{% static 'images/sobolev_vladislav.png' %}" alt="Where is an img???" class="img-circle" style="border: 1px solid black"/>
                </td>
                <td class="cell_text">
                    <p>ФИО: Соболев Владислав Андреевич</p>

                    <p>Университетская группа: 293</p>

                    <p>email: sobolev.1994@mail.ru</p>

                    <p>ссылка на профиль в JIRA:
                        <a href="https://fivt.in.ru/jira/secure/ViewProfile.jspa?name=sobolev.1994">sobolev.1994</a></p>
                </td>
                <td class="cell_photo">
                    <img src="{% static 'images/dorina_kseniya.png' %}" alt="Where is an img???" class="img-circle" style="border: 1px solid black"/>
                </td>
                <td class="cell_text">
                    <p>ФИО: Дорина Ксения Олеговна</p>

                    <p>Университетская группа: 291</p>

                    <p>email: do.kseniya@gmail.com</p>

                    <p>ссылка на профиль в JIRA:
                        <a href="https://fivt.in.ru/jira/secure/ViewProfile.jspa?name=do.kseniya">do.kseniya</a></p>
                </td>
            </tr>
        </table>
    </div>

{% endblock content %}