{% extends "base.html" %}

{% block content %}
    {% load bootstrap3 %}
    {% load staticfiles %}

    {% if messages %}
        <div class="row">
            {% for message in messages %}
                <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-3">
                    <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% else %}info{% endif %}">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if user.is_active %}
        {% for field in profile_form %}
            {% if field.errors %}
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-3">
                        <div class="alert alert-warning">
                            {{ field.errors }}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title"><strong>Профиль пользователя {{ user.username }}</strong></h1>
                    </div>
                    <div class="panel-body" style="margin:15px">
                        <p>Ваши подтверждённые роли: <strong>{{ user.userprofile.get_roles|join:", "  }}</strong>.
                        </p>
                        {% if user.userprofile.get_requests %}
                            <p>Ваш запрос на присвоение ролей:
                                <strong>{{ user.userprofile.get_requested_roles|join:", " }}</strong> ещё
                                не был рассмотрен администратором.</p>
                        {% endif %}
                        <p>Вы можете <a href="{% url 'main:role_request' %}">послать новую заявку на изменение Вашей
                            роли на сайте</a> или <a href="{% url 'password_change' %}">изменить пароль</a>.</p>

                        {% if mode == 'view' %}
                            <form action="" method="post" class="form-horizontal" role="form">
                            {% csrf_token %}
                            <br>
                            {% for field in profile_form %}
                                <div class="form-group" style="padding-bottom:10px; border-bottom:1px solid LightGrey">
                                    <label class="control-label col-sm-4" style="padding:0px; color:#4F4F4F">
                                        {% if field.label|slice:"-1:" == '*' %}
                                            {{ field.label|slice:":-2" }}:
                                        {% else %}
                                            {{ field.label }}:
                                        {% endif %}
                                    </label>

                                    <div class="col-sm-6">
                                        <p class="form-control-static" style="padding:0">
                                            {% if field.value %}
                                                {% if field.name == 'gender' %}
                                                    {% if field.value == 'N' %}
                                                        <span style='color:grey; padding:0px'><i>Нет данных</i></span>
                                                    {% else %}
                                                        {{ user.userprofile.get_gender_display }}
                                                    {% endif %}
                                                {% else %}
                                                    {{ field.value }}
                                                {% endif %}
                                            {% else %}
                                                <span style='color:grey; padding:0px'><i>Нет данных</i></span>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}
                            <br>
                            {% buttons %}
                                <div style="text-align:center">
                                    <button type="submit" name="edit_profile" class="btn btn-primary btn-lg">Изменить
                                        данные
                                    </button>
                                </div>
                            {% endbuttons %}

                        {% else %}
                            <form action="" method="post" class="form">
                            {% csrf_token %}
                            {% bootstrap_form profile_form %}

                            {% buttons %}
                                <button type="submit" name="save_profile" class="btn btn-primary"
                                        style="margin-left: 15px">Сохранить
                                </button>
                                <button type="submit" name="cancel" class="btn btn-default" style="margin-left: 15px">
                                    Отмена
                                </button>
                            {% endbuttons %}
                        {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}